<div>
    <br>
    <div>
        <div style="margin: 5px 0">
            Name: {{user.getName()}}
        </div>
        <div style="margin: 5px 0">
            Job: {{user.getJob()}}
        </div>
        <div class="register-row">
            <span class="register-row-label">Pass:</span>
            <input class="register-row-input" [(ngModel)]="password" (keyup.enter)="login()" autofocus>
        </div>
        <div>
            <button class="register-button" (click)="login()">Login</button>
        </div>
    </div>
</div>