.register-row{

    width: 200px;
    margin: 2px 0;

}

.register-row-label{
    display: block;
}

.register-row-input{
    
    color: green;
    background-color: black;
    border-color: green;
    border-width: 1px;
    border-style: dashed;
    display: block;
    width: 60%;

}

.register-button{

    margin: 5px 0;
    background-color: black;
    color: green;
    border-color: green;

}