<div>
    <div>
        Welcome to the vault terminal, please log in or register
    </div>
    <div>
        <button *ngIf="!loginService.isLoggedIn()" class="register-button" routerLink="../user-list">Users</button>
        <button *ngIf="loginService.isLoggedIn()" class="register-button" (click)="loginService.logout()">Logout</button>
        <button *ngIf="!loginService.isLoggedIn()" class="register-button" routerLink="../register">Register</button>
        <button *ngIf="loginService.isLoggedIn()" class="register-button" routerLink="../modify">Update user</button>
        <button *ngIf="loginService.isLoggedIn()" class="register-button" (click)="removeUser()">Delete user</button>
        <button class="register-button" routerLink="../../">Exit</button>
    </div>
</div>