<div>
    <div class="margin-5">
        Terminal
    </div>
    <div class="terminal-block">
        <div class="terminal-inner-block">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>