.terminal-block{

    background-image: url('app/shared/assets/images/terminal.jpg');
    width: 600px;
    height: 337px;
    margin: 5px 0;

}

.terminal-inner-block{

    color: green;
    width: 200px;
    position: relative;
    left: 40%;
    top: 13%;

}

.margin-5{
    margin: 5px 0;
}