<div class="register-row">
    <span class="register-row-label">Job:</span>
    <select class="register-row-input" [(ngModel)]="job">
        <option *ngFor="let job of userService.getJobs()">{{job}}</option>
    </select>
</div>
<div class="register-row">
    <span class="register-row-label">Age::</span>
    <input class="register-row-input" [(ngModel)]="age">
</div>
<div class="register-row">
    <span class="register-row-label">Password:</span>
    <input class="register-row-input" [(ngModel)]="password">
</div>
<div>
    <button class="register-button" (click)="updateUser()">Update</button>
    <button class="register-button" routerLink="../">Back</button>
</div>