<div>
    Users: 
    <ul class="user-list">
        <li *ngFor="let user of userService.getRetrievedUsers()" (click)="loginAsUser(user.id)">{{user.name}}</li>
    </ul>
    <button class="register-button" routerLink="../../../">Back</button>
</div>