<div>
    <div class="margin-5">
        Level 0
        <button [disabled]="!loginService.isLoggedIn()" routerLink="../level1">Down</button>
    </div>
    <div *ngIf="!loginService.isLoggedIn()">
        Welcome to vault 111, please use the terminal to log in
    </div>
    <div>
        <button routerLink="terminal">Terminal</button>
    </div>
    <div class="image">
    </div>
</div>